body {
    font-family: Arial, sans-serif;
    background-color: #cdc6e0;
    padding: 20px;
}
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    background-color: #e5e1ef;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
form label {
    font-weight: bold;
}
form input {
    margin-bottom: 15px;
}
.table-container {
    background-color: #e5e1ef;
    padding: 20px;
    border-radius: 10px;
}